$page: 1000px;
$padding: 40px;

.content-section {
  padding: $padding max($padding, calc((100% - $page) / 2));
  transition: background var(--transition), color var(--transition);
}

main > .content-section:last-of-type {
  flex-grow: 1;
}

main > .content-section:nth-of-type(odd) {
  background: var(--background);
}

main > .content-section:nth-of-type(even) {
  background: var(--background-alt);
}
