{% assign image = page.footer | default: site.footer %}

<footer
  class="background"
  style="--image: url('{{ image | relative_url | uri_escape }}')"
>
  <!--
    <div>
      Extra details like contact info or address
    </div>
  -->

  <div>
    <a
      class="button"
      data-style="bare"
      data-tooltip="Email"
      aria-label="이메일 보내기"
      href="mailto:{{ site.contact.email }}"
    >
      {% include icon.html icon="fa-solid fa-envelope" %}
    </a>
  </div>

  <div>
    &copy; {{ site.time | date: "%Y" }}
    {{ site.title }}
    &nbsp; | &nbsp; Built with
    <a href="https://github.com/greenelab/lab-website-template">
      Lab Website Template
    </a>
  </div>

</footer>
