{% assign filename = page.path | split: "/" | last %}

{% if page.name and page.name != filename %}
  {% assign title_text = page.name %}
{% elsif page.title %}
  {% assign title_text = page.title %}
{% else %}
  {% assign title_text = site.title %}
{% endif %}

{% assign fulltitle_parts = "" | split: "," %}

{% if title_text and title_text != "" %}
  {% assign fulltitle_parts = fulltitle_parts | push: title_text %}
{% endif %}

{% if site.title and site.title != "" %}
  {% assign fulltitle_parts = fulltitle_parts | push: site.title %}
{% endif %}

{% assign fulltitle = fulltitle_parts | join: " | " %}

{% assign description_text = page.description | default: site.description | default: "" %}

{% if site.subtitle %}
  {% capture description_text -%}
    {{ site.subtitle }}. {{ description_text }}
  {%- endcapture %}
{% endif %}

{% assign description_text = description_text | strip | strip_newlines %}

{% assign title_meta = title_text | xml_escape %}
{% assign fulltitle_meta = fulltitle | xml_escape %}
{% assign description_meta = description_text | xml_escape %}
{% assign site_title_meta = site.title | xml_escape %}

{% assign url = page.url | absolute_url %}

{% assign png = "images/icon.png" | file_exists %}
{% assign jpg = "images/icon.jpg" | file_exists %}
{% assign icon = png | default: jpg | absolute_url %}

{% assign jpg = "images/share.jpg" | file_exists %}
{% assign png = "images/share.png" | file_exists %}
{% assign share = jpg | default: png | absolute_url %}

{% assign published = page.date | date_to_xmlschema %}
{% assign updated = page.last_modified_at | date_to_xmlschema %}

{% assign feed = "feed.xml" | absolute_url %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{{ fulltitle_meta }}</title>

<link rel="canonical" href="{{ url }}">
<link rel="icon" href="{{ icon }}">

<meta name="title" content="{{ fulltitle_meta }}">
<meta name="description" content="{{ description_meta }}">

<meta property="og:title" content="{{ fulltitle_meta }}">
<meta property="og:site_name" content="{{ site_title_meta }}">
<meta property="og:description" content="{{ description_meta }}">
<meta property="og:url" content="{{ url }}">
<meta property="og:image" content="{{ share }}">
<meta property="og:locale" content="ko_KR">

{% if page.author %}
  <meta property="og:type" content="article">
{% else %}
  <meta property="og:type" content="website">
{% endif %}

<meta name="twitter:title" content="{{ fulltitle_meta }}">
<meta name="twitter:description" content="{{ description_meta }}">
<meta name="twitter:url" content="{{ url }}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="{{ share }}">

{% if page.author %}
  <meta name="author" content="{{ page.author | xml_escape }}">
  <meta property="og:updated_time" content="{{ updated }}">
  <meta property="article:published_time" content="{{ published }}">
  <meta property="article:modified_time" content="{{ updated }}">
  <meta name="revised" content="{{ updated }}">
{% endif %}

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  {% if page.author %}
  "@type": "BlogPosting",
  {% elsif page.url == "/" %}
  "@type": "WebSite",
  {% else %}
  "@type": "WebPage",
  {% endif %}
  "name": {{ fulltitle | jsonify }},
  "description": {{ description_text | jsonify }},
  "headline": {{ title_text | jsonify }},
  "publisher": {
    "@type": "Organization",
    "name": {{ site.title | jsonify }},
    "logo": {
      "@type": "ImageObject",
      "url": {{ icon | jsonify }}
    }
  },
  "url": {{ url | jsonify }}
  {% if page.author %},
  "author": {
    "@type": "Person",
    "name": {{ page.author | jsonify }}
  },
  "datePublished": {{ published | jsonify }},
  "dateModified": {{ updated | jsonify }}
  {% endif %}
}
</script>

<link rel="alternate" type="application/rss+xml" href="{{ feed }}">